doctype html
html
  head
    title= title + " - " + "Newsletter"
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css")
    link(rel="stylesheet", href="http://localhost:3000/styles.css")
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap', rel='stylesheet')
    script(src="script.js", defer) 
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js', async)

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    div#header
      h1 Newsletter Admin

    block content
