extends layout.pug

block content
  form(action="/api/register", method="post")#register
    h2 Create a user
    input(required, type="email", name="email", id="email", placeholder="Email", autocomplete="off")
    input(required, type="password", name="password", id="password", placeholder="Password")
    div.checkbox-group
      input(type="checkbox", name="subscribe", id="subscribe", value="true")
      label(for="subscribe") Subscribe to the newsletter
    input(type="submit", value="Register")
